/* About module */
#about-header {
    padding-top:1em;
    border-bottom:1px solid $base-font-color;
}
#about {
    padding-top:1em;
    #about-website {
        margin-top:1em;
        padding-top:1em;
        border-top: 1px solid $base-font-color;
    }
    //@include padding-leader(1); 
    padding-top:1em;
    color: $base-font-color;
    strong {
        font-weight: bold;
    }

    h3 { padding-bottom:0;}
    ul {
        //padding-bottom: $base-font-size;
        li {
            list-style-type:none;
        }
    }

    a {
        color: $post-link-color;
        text-decoration:none;
        &:hover {
            color: tint($post-link-color, 50%);
        }
        @include transition(color 0.3s);
    }

}

