/* Nav module */
#nav-links {
    //position:relative;

   // z-index:1;

    //@include container(42em);
    @include span(12);

    @include susy-breakpoint(max-width 466px) {
        padding-right:1em;
        text-align:center;
    }

    @include padding-leader(1/2);
    @include padding-trailer(1/2);

    margin-bottom:1em;
    //@include margin-trailer(1);
    //padding-left:1em;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
        //text-align:right;
    //background-color: #E8F1FF;
    //background-color: tint($header-bg-color, 90%);
    //background:url('/hellosculpin/output_dev/assets/images/concrete_seamless.png');
    background-color: #7B8087;
    border:1px solid #28292B;
    ul li { display:inline; }
    a {
        //color: shade(#C96F28, 10%);
        color:#E8F1FF;
        text-decoration:none;
    }    

    li + li {
        padding-left:1em;
    }
}

