/*
 *
 * nikitasfr.com project
 * by Nikitas Frantzeskakis
 *
 */
/* line 5, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
 *
 * Typo Scale at http://modularscale.com/scale/?px1=13&px2=30&ra1=1.618&ra2=0
 * Origins: 13px, 30px, 1:1.618 - golden section
 * 
 */
/* Scale origin */
/* line 21, ../sass/_base-typo.scss */
body {
  font-family: "PT Sans", sans-serif;
}
/* line 24, ../sass/_base-typo.scss */
body em {
  font-style: italic;
}

/* line 29, ../sass/_base-typo.scss */
body, body * {
  -webkit-font-smoothing: antialiased;
}

/* line 34, ../sass/_base-typo.scss */
h1, h2, h3 {
  font-family: "PT Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 39, ../sass/_base-typo.scss */
h1 {
  font-size: 26px;
  font-size: 1.618rem;
  line-height: 46px;
  line-height: 2.875rem;
  font-weight: 700;
}

/* line 45, ../sass/_base-typo.scss */
h2 {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 46px;
  line-height: 2.875rem;
  font-weight: 700;
}

/* line 50, ../sass/_base-typo.scss */
h3 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.4375rem;
  font-weight: 700;
}

/* line 56, ../sass/_base-typo.scss */
pre > code {
  font-family: monospace;
  margin-top: 23px;
  margin-top: 1.4375rem;
}

/* line 64, ../sass/_base-typo.scss */
#main, article {
  font-family: 'PT Serif', sans-serif;
  padding-bottom: 1em;
}
/* line 71, ../sass/_base-typo.scss */
#main p + p, #main ul + p, article p + p, article ul + p {
  margin-top: 0.75em;
}
/* line 74, ../sass/_base-typo.scss */
#main li + li, article li + li {
  margin-top: 0.75em;
}
/* line 78, ../sass/_base-typo.scss */
#main ol, article ol {
  margin-left: 2em;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}
/* line 84, ../sass/_base-typo.scss */
#main pre + p, article pre + p {
  padding-top: 23px;
  padding-top: 1.4375rem;
}
/* line 87, ../sass/_base-typo.scss */
#main pre + h2, article pre + h2 {
  padding-top: 23px;
  padding-top: 1.4375rem;
}
/* line 91, ../sass/_base-typo.scss */
#main p + h3, #main pre + h3, article p + h3, article pre + h3 {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
/* line 99, ../sass/_base-typo.scss */
#main > h1, #main > h2, article > h1, article > h2 {
  padding-top: 1.35em;
}
/* line 103, ../sass/_base-typo.scss */
#main > ul, article > ul {
  padding-top: 1em;
}
/* line 107, ../sass/_base-typo.scss */
#main p > a, #main > ul li > a, article p > a, article > ul li > a {
  color: #2C5BAD;
  text-decoration: none;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 110, ../sass/_base-typo.scss */
#main p > a:hover, #main > ul li > a:hover, article p > a:hover, article > ul li > a:hover {
  color: #96add6;
}
/* line 116, ../sass/_base-typo.scss */
#main > ul li, article > ul li {
  list-style-type: disc;
  list-style-position: inside;
}

/* line 123, ../sass/_base-typo.scss */
#archive {
  padding-bottom: 23px;
  padding-bottom: 1.4375rem;
}
/* line 124, ../sass/_base-typo.scss */
#archive h2 {
  padding-top: 23px;
  padding-top: 1.4375rem;
  padding-bottom: 23px;
  padding-bottom: 1.4375rem;
}
/* line 130, ../sass/_base-typo.scss */
#archive h3 {
  padding-bottom: .75em;
}
/* line 134, ../sass/_base-typo.scss */
#archive .archive-entry + h3 {
  padding-top: 23px;
  padding-top: 1.4375rem;
}
/* line 138, ../sass/_base-typo.scss */
#archive p + p {
  padding-top: .75em;
}

/* line 145, ../sass/_base-typo.scss */
#tags {
  padding-bottom: 23px;
  padding-bottom: 1.4375rem;
}

/* line 106, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.4375em;
}

/* Base Layout config */
/* line 21, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/susy-2.2.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/_base-layout.scss */
#content-wrap {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#content-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 23, ../sass/_base-layout.scss */
#main, article, #disqus-wrap, #nav-archives {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  position: relative;
  /*-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);*/
  background-color: #FFFFFF;
  border-top: 0;
}
/* line 36, ../sass/_base-layout.scss */
#main > *, #main > #post-other-posts, article > *, article > #post-other-posts, #disqus-wrap > *, #disqus-wrap > #post-other-posts, #nav-archives > *, #nav-archives > #post-other-posts {
  margin-left: 5%;
  margin-right: 5%;
}

/* line 42, ../sass/_base-layout.scss */
article + article {
  margin-top: 1em;
}

/* line 49, ../sass/_base-layout.scss */
body {
  background-color: #959AA3;
}

/* line 53, ../sass/_base-layout.scss */
img {
  max-width: 100%;
}

/* Header module */
/* line 4, ../sass/_header.scss */
#header-wrap {
  background-color: #4F5257;
  border-top: 7px solid #E37766;
}

/* line 10, ../sass/_header.scss */
#header-wrap > header {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#header-wrap > header:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 15, ../sass/_header.scss */
#header-wrap > header h1 {
  color: #24180F;
}
/* line 17, ../sass/_header.scss */
#header-wrap > header h1 a {
  color: #5b524b;
  text-decoration: none;
}
/* line 22, ../sass/_header.scss */
#header-wrap > header h3 {
  margin-top: 0;
  padding-top: 0;
  color: #BBBB84;
}
/* line 27, ../sass/_header.scss */
#header-wrap > header > * {
  padding-left: 1em;
}
/* line 31, ../sass/_header.scss */
#header-wrap > header > #logo {
  padding-left: 0;
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

/* Nav module */
/* line 2, ../sass/_nav.scss */
#nav-links {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  padding-top: 12px;
  padding-top: 0.71875rem;
  padding-bottom: 12px;
  padding-bottom: 0.71875rem;
  margin-bottom: 1em;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  background-color: #7B8087;
  border: 1px solid #28292B;
}
@media (max-width: 466px) {
  /* line 2, ../sass/_nav.scss */
  #nav-links {
    padding-right: 1em;
    text-align: center;
  }
}
/* line 30, ../sass/_nav.scss */
#nav-links ul li {
  display: inline;
}
/* line 31, ../sass/_nav.scss */
#nav-links a {
  color: #E8F1FF;
  text-decoration: none;
}
/* line 37, ../sass/_nav.scss */
#nav-links li + li {
  padding-left: 1em;
}

/* Post module */
/* line 14, ../sass/_post.scss */
.disqus-container {
  padding-top: 1em;
}

/* line 18, ../sass/_post.scss */
#nav-archives {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
}
/* line 22, ../sass/_post.scss */
#nav-archives a {
  color: #2C5BAD;
  text-decoration: none;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 25, ../sass/_post.scss */
#nav-archives a:hover {
  color: #96add6;
}

/* line 32, ../sass/_post.scss */
h1.post-title {
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 46px;
  line-height: 2.875rem;
  line-height: 1.4;
  font-family: "Robot Slab", sans-serif;
  font-weight: bold;
  color: #070D19;
}
/* line 41, ../sass/_post.scss */
h1.post-title a {
  color: #070D19;
  text-decoration: none;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 44, ../sass/_post.scss */
h1.post-title a:hover {
  color: #28539E;
}

/* line 52, ../sass/_post.scss */
.post-heading {
  padding-top: 1.3em;
}

/* line 57, ../sass/_post.scss */
.post-body {
  padding-top: 1em;
  color: #252629;
}
/* line 62, ../sass/_post.scss */
.post-body strong {
  font-weight: bold;
}
/* line 66, ../sass/_post.scss */
.post-body h2 {
  color: #802603;
  padding-top: .8em;
  font-weight: 600;
}
/* line 75, ../sass/_post.scss */
.post-body ul {
  padding-left: 5%;
  padding-top: 16px;
}
/* line 79, ../sass/_post.scss */
.post-body ul li {
  list-style-type: disc;
  list-style-position: inside;
}
/* line 85, ../sass/_post.scss */
.post-body a {
  color: #2C5BAD;
  text-decoration: none;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 88, ../sass/_post.scss */
.post-body a:hover {
  color: #96add6;
}
/* line 94, ../sass/_post.scss */
.post-body ol li {
  list-style-type: decimal;
}

/* line 99, ../sass/_post.scss */
#posts-index {
  padding-bottom: 23px;
  padding-bottom: 1.4375rem;
}

/* line 104, ../sass/_post.scss */
a.post-permalink {
  border: 1px solid #3b3c3e;
  padding: 2px;
  text-transform: lowercase;
  background-color: #dbdbdb;
  color: black;
  text-decoration: none;
}
/* line 111, ../sass/_post.scss */
a.post-permalink:visited {
  text-decoration: none;
}

/* line 116, ../sass/_post.scss */
.post-meta {
  padding-top: .3em;
  color: #252629;
  font-weight: bold;
  padding-bottom: 1em;
  border-bottom: 1px solid #3b3c3e;
}
/* line 125, ../sass/_post.scss */
.post-meta span {
  color: #2C5BAD;
}
/* line 129, ../sass/_post.scss */
.post-meta a {
  font-weight: normal;
  color: #2C5BAD;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 132, ../sass/_post.scss */
.post-meta a:hover {
  color: #567cbd;
}

/* line 139, ../sass/_post.scss */
article > footer {
  border-top: 1px solid #3b3c3e;
  margin-top: 1em;
}
/* line 140, ../sass/_post.scss */
article > footer .read-more {
  margin-top: .75em;
}
/* line 146, ../sass/_post.scss */
article > footer a {
  color: #28529c;
  text-decoration: none;
}
/* line 149, ../sass/_post.scss */
article > footer a:hover {
  color: #28529c;
}
/* line 154, ../sass/_post.scss */
article > footer ul.post-other-posts {
  padding-top: 1em;
}
/* line 158, ../sass/_post.scss */
article > footer ul.post-other-posts li {
  list-style-type: none;
  font-weight: bold;
}
/* line 162, ../sass/_post.scss */
article > footer ul.post-other-posts li a {
  font-weight: normal;
}
/* line 167, ../sass/_post.scss */
article > footer ul.post-other-posts li + li {
  margin-top: 0.5em;
}
/* line 171, ../sass/_post.scss */
article > footer ul.post-other-posts a:hover {
  text-decoration: underline;
}

/* About module */
/* line 2, ../sass/_about.scss */
#about-header {
  padding-top: 1em;
  border-bottom: 1px solid #252629;
}

/* line 6, ../sass/_about.scss */
#about {
  padding-top: 1em;
  padding-top: 1em;
  color: #252629;
}
/* line 8, ../sass/_about.scss */
#about #about-website {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #252629;
}
/* line 16, ../sass/_about.scss */
#about strong {
  font-weight: bold;
}
/* line 20, ../sass/_about.scss */
#about h3 {
  padding-bottom: 0;
}
/* line 23, ../sass/_about.scss */
#about ul li {
  list-style-type: none;
}
/* line 28, ../sass/_about.scss */
#about a {
  color: #2C5BAD;
  text-decoration: none;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 31, ../sass/_about.scss */
#about a:hover {
  color: #96add6;
}

/* Footer module */
/* line 10, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -33px;
}
/* line 18, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#container #footer-push {
  height: 33px;
}

/* line 20, ../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 33px;
}

/* line 6, ../sass/_footer.scss */
#footer-push {
  clear: both;
}

/* line 9, ../sass/_footer.scss */
body > footer {
  text-align: center;
  height: auto;
  color: #EFEFEF;
}
/* line 16, ../sass/_footer.scss */
body > footer p {
  padding-top: 5px;
  padding-top: 0.2875rem;
  padding-bottom: 5px;
  padding-bottom: 0.2875rem;
}
